@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar {
    overflow: overlay;
  }

  .custom-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    height: 14px;
    display: block;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 100px;
    padding: 2px;
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 100px;
    background-clip: content-box;

    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
ul{
  list-style: initial;
  padding: 0 0 0 40px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
p {
  white-space: break-spaces;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  @apply text-[13px];
  @apply lg:text-[16px];
  @apply font-inter;
  @apply top-3;
  @apply lg:top-4;
  @apply transition-all;
}

textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
  @apply text-[13px];
  @apply lg:text-[16px];
  @apply font-inter;
  @apply top-1;
  @apply transition-all;
}

input:focus ~ label {
  @apply text-[#605F5F];
  @apply font-inter;
  @apply left-3;
  @apply lg:left-4;
}

textarea:focus ~ label {
  @apply text-[#605F5F];
  @apply font-inter;
  @apply left-3;
  @apply lg:left-4;
}

.header-block {
  background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
  @apply pb-[30px] sm:pb-[82px]
}

.btn-primary {
  @apply  bg-blue-300  text-white ;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.btn-outlined {
  @apply bg-transparent text-blue-300 border-[1px] border-blue-200;
}

.nav-link {
  @apply font-medium text-[14px] text-gray-400 hover:text-gray-500
}

.main-head-title {
  @apply text-gray-600 font-bold sm:text-[56px] sm:leading-[66px] text-[40px] leading-[50px]
}


.subtitle {
  @apply text-blue-300 font-medium text-[18px] leading-[18px]
}

.big-title {
  @apply text-gray-600 font-semibold text-[36px] leading-[48px]
}

.description-text {
  @apply text-gray-400 text-[16px] leading-[28px]
}

.avatars {
  transition: all 0.5s;
}

.feature-block-bg {
  background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%)
}

.red-feature-icon {
  background: linear-gradient(154.49deg, #FF858A 6.61%, #F04148 89.72%);
  box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
}

.blue-feature-icon {
  background: linear-gradient(154.49deg, #5CA1FE 6.61%, #217BF4 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
}

.yellow-feature-icon {
  background: linear-gradient(154.49deg, #FFD085 6.61%, #FFAF2E 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
}